<div class="card mx-auto mt-4" style="width: 20rem;">
    <div class="card-body"> 
        <form (ngSubmit)="onSubmit ()" class="form-group">
            <label for="name">Your Name </label><br>
            <input type="text" name="name" class="form-control" id="name" [(ngModel)]="name"><br>
            <label for="adress">Adress goes here</label><br>
            <input type="text" name="adress" class="form-control" id="adress" [(ngModel)]="adress"><br>
            <input type="submit" value="confirm" class="btn btn-success mx-auto">
        </form>
        <button class="btn btn-dark mt-2"><a routerLink="/about">about page</a></button>
    </div>
</div>

